@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    font-family: 'Noto Sans KR', sans-serif;
}
li {
    list-style: none;
}
.App {
    position : relative;

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;

    .background {
        position: absolute;
        width : 100%;
        height : 100vh;
        transition : 0.5s;
        &.light { background : linear-gradient(to top right, #334169, #7C5386, #C46589, #F98679, #FFBB66, #F9F871); }
        &.dark {background : linear-gradient(to top right,#334169, #545281, #786296, #9E73AA, #C484BA, #EB95C7); }
    }
}

header {
    position : relative;
    top : 0;
    left : 0;
    padding : 0 20px;
    width : 100%;
    height : 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    color : white;
    background: rgba(0, 0, 0, 0.4);

    ul {
        display: flex;
        align-items: center;
        gap : 20px;
        li { 
            list-style: none; 
            svg {
                width : 12px;
                height : 12px;
            }
        }
    }
}
.desktop {
    position: relative;
    width : 100%;
    height : calc(100vh - 30px);
    padding : 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap : 20px;
    overflow: hidden;
}
.icon {
    position: relative;
    width : 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon .image {
    position: relative;
    width : 60px;
    height : 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size : 24px;
    
    color : #141d33cb;
    background: rgba(255, 255, 255, 0.566);
    
    border : 1px solid rgba(255, 255, 255, 0.612);
    border-radius: 15px;
    
    box-shadow : 0 0 5px rgba(0, 0, 0, 0.3);
    transition : 0.2s;
    &:hover {
        background: rgba(255, 255, 255, 0.736);
    }
    &:active {
        background: rgba(254, 238, 238, 0.766);
    }
}
.icon .title {
    margin-top : 6px;
    color : white;
    font-weight: 400;
}

.window {
    position : absolute;
    max-height: 80vh;
    color : #f1f1f1;
    background: rgba(0, 0, 0, 0.331);
    backdrop-filter: blur(4px);
    border : 1px solid rgba(255, 255, 255, 0.508);
    border-radius: 15px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .container {
        position: relative;
        width : 100%;
        height : 100%;
        padding : 10px;
    }

    .header {
        position: relative;
        width : 100%;
        padding : 10px;
        display: flex;
        justify-content: end;
        transition : 0.2s;
        .close {
            background: rgb(255, 115, 115);
            width : 14px;
            height : 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            color : transparent;
            font-size : 8px;
            border-radius: 50%;
            &:hover {
                color : rgb(143, 46, 46);
            }
        }
        &:active {
            background: rgba(0, 0, 0, 0.664);
        }
    }
}

.wrapper {
    margin-bottom : 2rem;
}

.h2-title {
    font-size : 20px;
    margin-bottom : 1rem;
    text-transform: uppercase;
}

@media (max-width:650px) {
    .desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .icon {
            margin : 0 auto;
        }
    }
    .window {
        width : 100%;
        height : calc(100vh - 30px);
        max-height : calc(100vh - 30px);
        background: rgba(0, 0, 0, 0.5);
        .header {
            &:active {
                background: transparent;
            }
        }
    }
}